

* {
    margin: 0;
    padding: 0;
}

:root {
    --mainColor: #facc15;
    --secondColor: #002e5b;
}

body {
    box-sizing: border-box;
}

.text-main {
    color: var(--mainColor);
}

.text-second {
    color: var(--secondColor);
}

.bg-main {
    background-color: var(--mainColor);
}

.bg-second {
    background-color: var(--secondColor);
}

.section_title {
    text-align: center;
}

.section_title p {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--secondColor);
}

.section_title p::after {
    content: "";
    width: 80px;
    height: 4px;
    background-color: var(--secondColor);
    display: block;
    margin: 0 auto;
}

/* Background */
.bg-categories {
    background-image: url(../img/background-shapes/squares.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bg-header-contact {
    background: linear-gradient(rgba(9, 30, 62, .7), rgba(9, 30, 62, .7)), url(../img/contactus.jpg) center center no-repeat !important;
    background-size: cover;
}